.nav-link-with-line {
  border-right: 5px solid black;
  padding-right: 20px; /* Adjust this value as needed */
  margin-right: 30px; /* Adjust this value as needed */
  margin-left: 30px;
}

.navbar-nav{
 
   margin-left: 16%;

}



.lini-nav-items {
  background-color: #e3f2fd;
  border-right: 1px solid black;
  align-items: center; 

}
 /* Change the color for selected menu items */
.nav-link:active, .nav-link:hover {
  background-color: #ff0000;
  border-radius: 5px;
}


.nav-item {
   display: flex;
  padding: 2px;
  margin-right: 20px;
  text-align: center;
}

.navbar-toggler-icon {
  color:  red; /* Change this to the desired color */
}



/* Media query for smaller screens */
@media (max-width: 768px) {
  .CustomeNavbar {
    margin-top: 14%; /* Adjusted margin for smaller screens */
  }
  .togglerr{
    margin-right: 1px;
  }
  .nav-link{
       margin-left: 20px;
  }
  .tooglebutton  {

    margin-left: 20px;

  }
  .navbar-nav{
 
    margin-left: 0;
 
 }
 
}














