/* body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #f4f4f4;
}

.sidebar div {
    padding: 10px;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
} */

.sidebarname {
  background-color: transparent;
  background-color: #2196f3;
  margin-top: auto;
  width: 110%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.paragraph {
  color: white;
  margin: 10px;
  font-size: 15px;
  transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
  cursor: pointer;
}

/* Media Query for Tablets */
@media (max-width: 768px) {
  .sidebarname {
    width: 100%;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 576px) {
  .sidebarname {
    width: 100%;
  }

  .container input {
    font-size: 4px;
  }
}


/* toke Url  */


.Tokenurl{

  margin-left: 30%;
  background-color: #e3f2fd;
  width: 40%;
  border-radius: 2px;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adjust shadow values as needed */
}


.Tokenurl  p{
  
   text-align: center;
}

.social_media_Icon {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.social_media_Icon p {
  font-size: 15px;
  font-weight: bold; 
  margin-top: 3%;
  margin-right: 10px; /* Add some space between text and icons */
}




@media only screen and (max-width: 768px) {
  .Tokenurl {
    margin-left: 30%; /* Center the element horizontally */
    width: auto; /* Adjust width as needed */
  }

 
}


.dropdown-toggle-icon-right::after {
  margin-left: auto;
}




